* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}
.container {
  display: block;
  width: 100%;
  max-width: 1680px;
  margin: 0 auto;
  padding: 0 15px;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

/* header satrt */
.header-top {
  display: block;
  clear: both;
  background-color: #299e60;
}
.header-top .header-top-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -15px;
  /* padding: 8px 0; */
}
.header-top .header-top-inner .header-top-item {
  display: inline-block;
  position: relative;
}
.header-top .header-top-inner .header-top-icon {
  margin-right: 24px;
  padding: 10px 24px 10px 0;
}
.header-top .header-top-inner .header-top-icon a::before {
  background-color: #ffffff4d;
  background-color: hsla(0, 16.7%, 97.6%, 0.3);
  content: "";
  height: 15px;
  inset-block-start: 50%;
  inset-inline-end: 0;
  position: absolute;
  transform: translateY(-50%);
  width: 1px;
}
.header-top .header-top-inner .header-top-item > a {
  display: inline-block;
  transition: 0.2s linear;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: rgb(255, 255, 255);
  transition: all 0.2s linear;
}
.header-top .header-top-inner .header-top-item .menu {
  position: relative;
  transition: all 0.2s linear;
  :hover {
    text-decoration: none;
  }
}
.header-top .header-top-inner .header-top-item .menu:hover a::after {
  transform: translateY(-50%) rotate(180deg);
}
.header-top .header-top-inner .header-top-item .menu a::after {
  content: "\f107";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-size: 9px;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translate(0, -50%);
  color: rgb(255, 255, 255);
  transition:all  0.2s linear;
  border-radius: 6px;
}
.header-top .header-top-inner .header-top-item > a > span {
  background-color: transparent;
  padding-right: 5px;
  font-size: 12px;
}
.header-top .header-top-inner .header-top-item > a:hover {
  text-decoration: underline;
}

.header-top .header-top-inner .header-top-item .header-top-icon .sub-menu {
  width: 132px;
  background-color: #fff;
  border-radius: 6px;
  inset-block-start: 100%;
  inset-inline-start: 0;
  overflow: hidden;
  padding: 8px 0;
  position: absolute;
  transition: 0.2s linear;
  z-index: 99;
  box-shadow: 0 7px 21px -5px #0000001a, 0 4px 21px -4px #0000001a;
  margin-block-start: 16px;
  opacity: 0;
  visibility: hidden;
}
.header-top .header-top-inner .header-top-item > .menu:hover .sub-menu {
  margin-block-start: 0;
  opacity: 1;
  visibility: visible;
}
.header-top .header-top-inner .header-top-item .header-top-icon .sub-menu > li {
  display: flex;
  color: grey;
  background-color: white;
  padding: 9px 5px;
}
.header-top
  .header-top-inner
  .header-top-item
  .header-top-icon
  .sub-menu
  > li:hover {
  background-color: lightgray;
}
.header-top
  .header-top-inner
  .header-top-item
  .header-top-icon
  .sub-menu
  > li
  .icon {
  font-size: 12px;
  padding: 0 5px;
}
.header-top
  .header-top-inner
  .header-top-item
  .header-top-icon
  .sub-menu
  > li
  .img{
    width: 16px;
    height: 12px;
  }
.header-top
  .header-top-inner
  .header-top-item
  .header-top-icon
  .sub-menu
  > li
  > .text {
  padding: 0 6px;
  text-transform: capitalize;
  font-size: 12px;
}
/* .header-top .header-top-inner .menu .sub-menu > li {
  padding: 10px 20px;
  border-top: 1px solid #555;
} */
/* start header middle  */
.header-middle {
  display: block;
  padding: 30px 10px;
  background-color: #f3faf2;
}
.header-middle .header-middle-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.header-middle .header-middle-inner .header-middle-second {
  display: block;
}
.header-middle .header-middle-inner .header-middle-second .second-item-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.header-middle
  .header-middle-inner
  .header-middle-second
  .second-item-inner
  .form-flex {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #cccccc;
  background-color: #f3faf2;
  border-radius: 9999px;
  padding-right: 20px;
  margin-right: 5px;
}
option {
  padding: 10px;
}
.header-middle
  .header-middle-inner
  .header-middle-second
  .second-item-inner
  .form-flex
  .select-categories {
  display: block;
  padding-left:17px;
  border: none;
  outline: none;
  background: none;
  font-size: 16px;
  text-transform: capitalize;
  color: #444;
  height: 48px;
  border-right: 1px solid #cccccc;
}
.header-middle
  .header-middle-inner
  .header-middle-second
  .second-item-inner
  .form-flex
  select
  option:checked {
  background-color: #28a745;
  color: #fff;
}
.header-middle
  .header-middle-inner
  .header-middle-second
  .second-item-inner
  .form-flex
  .select-categories
  option {
  padding: 10px;
  font-size: 16px;
}
.header-middle
  .header-middle-inner
  .header-middle-second
  .second-item-inner
  .search {
  display: block;
  position: relative;
}
.header-middle
  .header-middle-inner
  .header-middle-second
  .second-item-inner
  .search
  .text {
  width: 260px;
  background-color: #f3faf2;
  color: #121535;
  padding: 16px 44px 13px 16px;
  border: none;
  font-size: 14px;
}
.header-middle
  .header-middle-inner
  .header-middle-second
  .second-item-inner
  .search
  .search-icon {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translate(0, -50%);
  font-size: 20px;
  color: #fff;
  width: 30px;
  height: 30px;
  background-color: #28a745;
  border-radius: 50%;
  text-align: center;
  align-items: center;
  font-weight: 400;
  display: flex;
  justify-content: center;
}
.location-outer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.location-outer .location-container {
  position: relative;
}
.location-outer .location-container .location-button {
  display: flex;
  align-items: center;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 25px;
  padding: 8px 15px;
  color: #1a1a1a;
  cursor: pointer;
  font-size: 16px;
}

.location-outer .location-container .location-button span:first-child {
  margin-right: 8px;
  font-size: 20px;
}

.location-outer .location-container .location-button .location-text {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.location-outer
  .location-container
  .location-button
  .location-text
  span:first-child {
  font-size: 12px;
  color: #888;
}

.location-outer
  .location-container
  .location-button
  .location-text
  span:last-child {
  font-weight: bold;
  color: #333;
}

.location-outer .location-container .location-button .dropdown-arrow {
  font-size: 16px;
  color: #888;
}

.location-outer:hover > .location-button {
  content: "\f106";
  font-weight: 900;
  font-family: "Font Awesome 6 Free";
  font-size: 16px;
}
.location-outer .location-container .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 200px;
  /* background-color: white; */
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 5px;
  display: none;
  z-index: 1;
  max-height: 150px;
  overflow-y: auto;
  color: #828282;
}
.location-outer .location-container:hover .dropdown-menu {
  display: block;
}
.location-outer .location-container .dropdown-menu div {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
}
.location-outer .location-container .dropdown-menu div:last-child {
  border-bottom: none;
}
.location-outer .location-container .dropdown-menu div:hover {
  background-color: #e0f0e0;
  color: #299e60;
}
.location-outer .location-container .dropdown-menu div.selected {
  background-color: #299e60;
  color: #ffff;
  font-weight: bold;
}
.header-middle .header-middle-inner .header-middle-third {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.header-middle .header-middle-inner .header-middle-third .icon1 {
  display: flex;
  padding-right: 10px;
  align-items: center;
  position: relative;
}
.header-middle .header-middle-inner .header-middle-third .icon2 {
  display: flex;
  padding-right: 10px;
  align-items: center;
  position: relative;
}
.header-middle .header-middle-inner .header-middle-third .icon1 span {
  display: block;
  color: grey;
  text-transform: capitalize;
}
.header-middle .header-middle-inner .header-middle-third .icon1 span:hover {
  color: #299e60;
}
.header-middle .header-middle-inner .header-middle-third .icon2 span:hover {
  color: #299e60;
}
.header-middle .header-middle-inner .header-middle-third .icon2 span {
  display: block;
  color: grey;
  text-transform: capitalize;
}
.header-middle .header-middle-inner .header-middle-third .icon1 .icon-inner {
  color: #4d4d4d;
  font-size: 24px;
  margin: 6px 6px 0 0;
  font-weight: 400;
  display: inline-block;
}
.header-middle .header-middle-inner .header-middle-third .icon2 .icon-inner {
  color: #4d4d4d;
  font-size: 24px;
  margin: 6px 6px 0 0;
  font-weight: 400;
  display: inline-block;
}
.header-middle .header-middle-inner .header-middle-third .icon1 .text {
  position: absolute;
  top: -1px;
  right: 66px;
  background-color: #299e60;
  width: 16px;
  text-align: center;
  border: none;
  border-radius: 50%;
  color: rgb(255, 255, 255);
  font-size: 12px;
}
.header-middle .header-middle-inner .header-middle-third .icon2 .text {
  position: absolute;
  top: -1px;
  right: 40px;
  background-color: #299e60;
  width: 16px;
  text-align: center;
  border: none;
  border-radius: 50%;
  color: rgb(255, 255, 255);
  font-size: 12px;
}

/* end header middle  */
/* header end */

/* start footer css  */

/* start footer top css  */
footer {
  display: block;
  padding: 120px 0;

  position: relative;
}
footer .footer-bg {
  position: absolute;

  z-index: -1;
}
footer .footer-inner {
  display: flex;
  /* margin: 0 -15px; */
  flex-wrap: wrap;
}
footer .footer-inner .footer-info {
  display: block;
  width: 30%;
  padding-right: 20px;
}
footer .footer-inner .footer-info .footer-logo {
  display: block;
  margin-bottom: 20px;
}
footer .footer-inner .footer-info .footer-logo > a > img {
  height: 100%;
  max-height: 64px;
  max-width: 190px;
  width: 100%;
}
footer .footer-inner .footer-info .footer-text {
  display: block;
  font-size: 16px;
  color: #828282;
  margin-bottom: 24px;
}
footer .footer-inner .footer-info ul li {
  list-style: none;
  display: flex;
  padding: 7px 0;
  justify-content: space-between;
}

footer .footer-inner .footer-info ul li .footer-icon {
  display: flex;
  background-color: #299e60;
  color: #ffff;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  /* align-self: center; */
}
footer .footer-inner .footer-info ul li .footer-icon span {
  display: flex;
  margin: 0 auto;
  align-items: center;
}
footer .footer-inner .footer-info ul li .footer-li-text {
  display: block;
  align-content: center;
  width: 85%;
  color: #1a1a11;
}
footer .footer-inner .footer-info ul li .footer-li-text a {
  text-decoration: none;
  color: #000;
  transition: all 0.2s linear;
}
footer .footer-inner .footer-info ul li .footer-li-text a:hover {
  color: #299e60;
}
footer .footer-inner .footer-info ul li .footer-li-text span {
  display: inline-block;
  padding: 0 10px;
  color: #299e60;
}
footer .footer-inner .footer-item {
  display: block;
  width: 17.5%;
  padding-right: 15px;
}
footer .footer-inner .footer-item .footer-item-title {
  display: block;
  font-family: "Quicksand", sans-serif;
  color: #121535;
  font-size: 21px;
  margin-bottom: 6px;
  font-weight: 700;
  text-transform: capitalize;
}
footer .footer-inner .footer-item li {
  display: block;
  padding: 8px 0;
}
footer .footer-inner .footer-item li a {
  color: #666;
  transition: all 0.2s linear;
}
footer .footer-inner .footer-item li a:hover {
  color: #299e60;
}
footer .footer-inner .footer-social {
  display: block;
  width: 25%;
  margin: 20px 0;
}
footer .footer-inner .footer-social .footer-item-title {
  display: block;
  font-family: "Quicksand", sans-serif;
  color: #121535;
  font-size: 21px;
  font-weight: 700;
  text-transform: capitalize;
  padding: 10px 0;
}
footer .footer-inner .footer-social > li > span {
  display: inline-block;
  margin-bottom: 20px;
  color: #828282;
}
footer .footer-inner .footer-social .img-flex {
  display: flex;
  flex-wrap: wrap;
  margin: 16px auto 32px;
}
footer .footer-inner .footer-social .img-flex div {
  padding-right: 5px;
}
footer .footer-inner .footer-social .footer-icon {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
footer .footer-inner .footer-social .footer-icon > div > a {
  display: block;
  background-color: hsl(148, 59%, 87.8%);
  color: #299e60;
  width: 50px;
  height: 50px;
  text-align: center;
  border: none;
  border-radius: 50%;
  align-content: center;
  margin: 0 5px;
  font-size: 25px;
}
footer .footer-inner .footer-social .footer-icon > div > a > span {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footer-inner .footer-social .footer-icon > div > a:hover {
  background-color: #299e60;
  color: #ffff;
}
/* end footer top css  */
/* start footer bottom css  */

.footer-bottom {
  background-color: #f3faf2;
}
.footer-bottom .footer-bottom-inner {
  display: flex;
  padding: 15px 0;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.footer-bottom .footer-bottom-inner .footer-bottom-end .payment-method {
  width: auto;
  max-width: 100%;
}
.footer-bottom .footer-bottom-inner p {
  display: block;
  width: 50%;
  color: #828282;
  padding-left: 5px;
}
.footer-bottom .footer-bottom-inner .footer-bottom-end {
  display: flex;
  width: 50%;

  padding-right: 5px;
}
.footer-bottom .footer-bottom-inner .footer-bottom-end p {
  display: inline-block;
  color: #121535;
  align-self: center;
  text-align: end;
}
/* end footer bottom css  */

/* start media  */

/* start media 1199px  */
@media (max-width: 1199px){
  .header-middle {
    padding: 16px 10px;
  }
.header-middle .header-middle-inner .header-middle-second .second-item-inner .search .text {
  width: 200px;
}
.header-top .header-top-inner .header-top-icon {
  margin-right: 10px;
  padding: 10px 10px 10px 0;
}
.header-middle .header-middle-inner .header-middle-second .second-item-inner .form-flex .select-categories {
  padding-left: 0;
}
.location-outer .location-container .location-button {
  padding: 8px;
}
.header-top .header-top-inner .header-top-item > a {
  font-size: 12px;
}

  footer .footer-inner .footer-info {
    width: 35%;
    margin: 20px 0;
  }
  footer .footer-inner .footer-item {
    width: 21.65%;
    padding-right: 10px;
    margin: 20px 0;
  }
  footer .footer-inner .footer-social {
    width: 30%;
  }
}
/* end media 1199px  */

/* start media 991px  */
@media (max-width: 991px) {
  .header-middle {
    padding: 8px 10px;
  }
  .header-middle .header-middle-inner .header-middle-third {
    display: none;
  }
  .header-middle .header-middle-inner .header-middle-second .second-item-inner .search {
  display: none;
}
.header-middle .header-middle-inner .header-middle-second .second-item-inner .form-flex {
  padding-right: 0px;
}
.header-middle .header-middle-inner .header-middle-second .second-item-inner .form-flex .select-categories {
  font-size: 12px;
  background-color: #fff ;
  height: 36px;
  border:1px solid transparent;
  border-radius:50px;
  padding-left: 7px;
}
.location-outer .location-container .location-button .location-text span:last-child {
  font-size: 12px;
}
.location-outer .location-container .location-button {
  padding: 4px;
}
.header-top .header-top-inner .header-top-icon {
  margin-right: 10px;
  padding: 6px 10px 6px 0;
}
  footer .footer-inner .footer-info {
    width: 60%;
  }
  footer .footer-inner .footer-item {
    width: 30%;
  }
  footer .footer-inner .footer-social {
    width: 40%;
  }
}
/* end media 991px  */

/* start media 767px  */
@media (max-width: 767px) {
  .header-top .header-top-inner .header-top-item .start {
    display: none;
  }
  footer .footer-inner .footer-info {
    width: 50%;
  }
  footer .footer-inner .footer-item {
    width: 30%;
  }
  footer .footer-inner .footer-social {
    width: 50%;
  }
  footer .footer-inner .footer-item .footer-item-title {
    font-size: 18px;
  }
  footer .footer-inner .footer-social .footer-item-title {
    font-size: 18px;
  }
  footer .footer-inner .footer-social .footer-icon div a {
    width: 35px;
    height: 35px;
    font-size: 20px;
  }
}
/* end media 767px  */

/* start media 639px  */
@media (max-width: 639px) {
  .header-middle
  .header-middle-inner
  .header-middle-second
  .second-item-inner
  .form-flex {
  display: none;
}

  footer .footer-inner .footer-info {
    width: 100%;
    margin: 15px 0;
  }
  footer .footer-inner .footer-item {
    width: 50%;
    margin: 15px 0;
  }
  footer .footer-inner .footer-social {
    width: 65%;
    margin: 15px 0;
  }
}
/* end media 639px  */

/* start media 479px  */
@media (max-width: 479px) {
  .header-middle-first {
    max-width: 148px;
  }
  svg {
    display: none;
  }
  footer .footer-inner .footer-social {
    width: 100%;
  }
}
/* end media 479px  */
/* end  media  */
