* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}
a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}
li {
  list-style: none;
}
.container {
  display: block;
  width: 100%;
  max-width: 1680px;
  margin: 0 auto;
  padding: 0 15px;
  /* padding-right: calc(24px * .5); */
  /* padding-left: calc( 24px* .5); */
}
button {
  border: none;
  background-color: transparent;
}
img {
  display: block;
  width: 100%;
  height: auto;
}

/* header satrt */
.header-top {
  display: block;
  clear: both;
  background-color: #299e60;
}
.header-top .header-top-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -15px;
  padding: 0 12px;
}
.header-top-item-right > li {
  padding-right: 24px;
  margin-right: 22px;
}
.header-top-item-right > li:last-child {
  padding-right: 0;
  margin-right: 0px;
}
.header-top .header-top-inner .header-top-item {
  display: inline-block;
  position: relative;
}
.header-top .header-top-inner .header-top-icon {
  margin-right: 16px;
  padding: 8.5px 16px 8px 0;
}
.header-top .header-top-inner .header-top-icon a::before {
  background-color: #ffffff4d;
  background-color: hsla(0, 16.7%, 97.6%, 0.3);
  content: "";
  height: 15px;
  top: 50%;
  right: 0;
  position: absolute;
  transform: translateY(-50%);
  width: 1px;
}
.header-top .header-top-inner .header-top-item > a {
  display: inline-block;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: rgb(255, 255, 255);
  transition: all 0.2s linear;
}
.header-top .header-top-inner .menu > a {
  display: inline-block;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: rgb(255, 255, 255);
  transition: all 0.2s linear;
  padding: 0 12px;
}
.header-top .header-top-inner .header-top-item .menu {
  position: relative;
  transition: all 0.2s linear;
  :hover {
    text-decoration: none;
  }
}
.header-top .header-top-inner .header-top-item .menu a::after {
  transform: translateY(-50%) rotate(180deg);
}
.header-top .header-top-inner .header-top-item .menu a::after {
  content: "\f107";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-size: 9px;
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translate(0, -50%);
  color: rgb(255, 255, 255);
  transition: all 0.2s linear;
  border-radius: 6px;
}
.header-top .header-top-inner .header-top-item > a > span {
  background-color: transparent;
  padding-right: 5px;
  font-size: 12px;
}
.header-top .header-top-inner .header-top-item > a:hover {
  text-decoration: underline;
}

.header-top .header-top-inner .header-top-item .header-top-icon .sub-menu {
  width: 132px;
  background-color: #fff;
  border-radius: 6px;
  top: 100%;
  left: 0;
  overflow: hidden;
  padding: 8px 0;
  position: absolute;
  transition: 0.2s linear;
  z-index: 99;
  box-shadow: 0 7px 21px -5px #0000001a, 0 4px 21px -4px #0000001a;
  margin-top: 16px;
  opacity: 0;
  visibility: hidden;
}
/* header top end */

/* header bottom end */
.header-top .header-top-inner .header-top-item .header-top-icon .sub-menu {
  display: none;
}
.header-top .header-top-inner .header-top-item > .menu:hover .sub-menu {
  margin-top: 0;
  opacity: 1;
  visibility: visible;
}
.header-top .header-top-inner .header-top-item .header-top-icon .sub-menu > li {
  display: flex;
  color: grey;
  background-color: white;
  padding: 9px 5px;
}
.header-top
  .header-top-inner
  .header-top-item
  .header-top-icon
  .sub-menu
  > li:hover {
  background-color: lightgray;
}
.header-top
  .header-top-inner
  .header-top-item
  .header-top-icon
  .sub-menu
  > li
  .icon {
  font-size: 12px;
  padding: 0 5px;
}
.header-top
  .header-top-inner
  .header-top-item
  .header-top-icon
  .sub-menu
  > li
  .img {
  width: 16px;
  height: 12px;
}
.header-top
  .header-top-inner
  .header-top-item
  .header-top-icon
  .sub-menu
  > li
  > .text {
  padding: 0 6px;
  text-transform: capitalize;
  font-size: 12px;
}
/* .header-top .header-top-inner .menu .sub-menu > li {
  padding: 10px 20px;
  border-top: 1px solid #555;
} */
/* start header middle  */
.header-middle {
  display: block;
  padding: 24px 0px;
  background-color: #f3faf2;
}
.header-middle .header-middle-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.header-middle .header-middle-inner .header-middle-second {
  display: block;
}
.header-middle .header-middle-inner .header-middle-second .second-item-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.header-middle-first > img {
  max-width: 200px;
}
.header-middle
  .header-middle-inner
  .header-middle-second
  .second-item-inner
  .form-flex {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #cccccc;
  background-color: #f3faf2;
  border-radius: 9999px;
  padding-right: 20px;
  margin-right: 5px;
}
option {
  padding: 10px;
}
.header-middle
  .header-middle-inner
  .header-middle-second
  .second-item-inner
  .form-flex
  .select-categories {
  display: block;
  padding-left: 17px;
  border: none;
  outline: none;
  background: none;
  font-size: 16px;
  text-transform: capitalize;
  color: #444;
  height: 48px;
  border-right: 1px solid #cccccc;
}
.header-middle
  .header-middle-inner
  .header-middle-second
  .second-item-inner
  .form-flex
  select
  option:checked {
  background-color: #28a745;
  color: #fff;
}
.header-middle
  .header-middle-inner
  .header-middle-second
  .second-item-inner
  .form-flex
  .select-categories
  option {
  padding: 10px;
  font-size: 16px;
}
.header-middle
  .header-middle-inner
  .header-middle-second
  .second-item-inner
  .search {
  display: block;
  position: relative;
}
.header-middle
  .header-middle-inner
  .header-middle-second
  .second-item-inner
  .search
  .text {
  width: 260px;
  background-color: #f3faf2;
  color: #121535;
  padding: 16px 44px 13px 16px;
  border: none;
  font-size: 14px;
}
.header-middle
  .header-middle-inner
  .header-middle-second
  .second-item-inner
  .search
  .search-icon {
  position: absolute;
  top: 50%;
  right: -5%;
  transform: translate(0, -50%);
  font-size: 20px;
  color: #fff;
  width: 30px;
  height: 30px;
  background-color: #28a745;
  border-radius: 50%;
  text-align: center;
  align-items: center;
  font-weight: 400;
  display: flex;
  justify-content: center;
}
.location-outer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.location-outer .location-container {
  position: relative;
}
.location-outer .location-container .location-button {
  display: flex;
  align-items: center;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 25px;
  padding: 8px 15px;
  color: #1a1a1a;
  cursor: pointer;
  font-size: 16px;
}

.location-outer .location-container .location-button span:first-child {
  margin-right: 8px;
  font-size: 20px;
}

.location-outer .location-container .location-button .location-text {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.location-outer
  .location-container
  .location-button
  .location-text
  span:first-child {
  font-size: 12px;
  color: #888;
}

.location-outer
  .location-container
  .location-button
  .location-text
  span:last-child {
  font-weight: bold;
  color: #333;
}

.location-outer .location-container .location-button .dropdown-arrow {
  font-size: 16px;
  color: #888;
}

.location-outer:hover > .location-button {
  content: "\f106";
  font-weight: 900;
  font-family: "Font Awesome 6 Free";
  font-size: 16px;
}
.location-outer .location-container .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 200px;
  /* background-color: white; */
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 5px;
  display: none;
  z-index: 1;
  max-height: 150px;
  overflow-y: auto;
  color: #828282;
}
.location-outer .location-container:hover .dropdown-menu {
  display: block;
}
.location-outer .location-container .dropdown-menu div {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
}
.location-outer .location-container .dropdown-menu div:last-child {
  border-bottom: none;
}
.location-outer .location-container .dropdown-menu div:hover {
  background-color: #e0f0e0;
  color: #299e60;
}
.location-outer .location-container .dropdown-menu div.selected {
  background-color: #299e60;
  color: #ffff;
  font-weight: bold;
}
.header-middle .header-middle-inner .header-middle-third {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.header-middle .header-middle-inner .header-middle-third .icon1 {
  display: flex;
  padding-right: 10px;
  align-items: center;
  position: relative;
}
.header-middle .header-middle-inner .header-middle-third .icon2 {
  display: flex;
  padding-right: 10px;
  align-items: center;
  position: relative;
}
.header-middle .header-middle-inner .header-middle-third .icon1 span {
  display: block;
  color: grey;
  text-transform: capitalize;
}
.header-middle .header-middle-inner .header-middle-third .icon1 span:hover {
  color: #299e60;
}
.header-middle .header-middle-inner .header-middle-third .icon2 span:hover {
  color: #299e60;
}
.header-middle .header-middle-inner .header-middle-third .icon2 span {
  display: block;
  color: grey;
  text-transform: capitalize;
}
.header-middle .header-middle-inner .header-middle-third .icon1 .icon-inner {
  color: #4d4d4d;
  font-size: 24px;
  margin: 6px 6px 0 0;
  font-weight: 400;
  display: inline-block;
}
.header-middle .header-middle-inner .header-middle-third .icon2 .icon-inner {
  color: #4d4d4d;
  font-size: 24px;
  margin: 6px 6px 0 0;
  font-weight: 400;
  display: inline-block;
}
.header-middle .header-middle-inner .header-middle-third .icon1 .text {
  position: absolute;
  top: -1px;
  right: 66px;
  background-color: #299e60;
  width: 16px;
  text-align: center;
  border: none;
  border-radius: 50%;
  color: rgb(255, 255, 255);
  font-size: 12px;
}
.header-middle .header-middle-inner .header-middle-third .icon2 .text {
  position: absolute;
  top: -1px;
  right: 40px;
  background-color: #299e60;
  width: 16px;
  text-align: center;
  border: none;
  border-radius: 50%;
  color: rgb(255, 255, 255);
  font-size: 12px;
}

/* end header middle  */
/* header bottom start */

.header-buttom {
  border-color: #e6e6e6;
  background-color: rgb(255, 255, 255);
  border: 1px solid #dee2e6;
  /* overflow: hidden; */
}
.header-buttom .header-bottom-inner {
  display: flex;
  gap: 8px;
  justify-content: space-between;
  align-items: center;
}
.header-buttom .header-bottom-inner > .header-bottom-category {
  display: block;
  position: relative;
}
.header-buttom .header-bottom-inner > .header-bottom-category:hover {
  background-color: #f0f0f0;
}
.header-buttom
  .header-bottom-inner
  > .header-bottom-category:hover
  .category-button
  > span {
  color: #299e60;
}
.header-buttom .header-bottom-inner .header-bottom-category .category-button {
  display: flex;
  align-items: center;
  padding: 16px;
  font-weight: 500;
  gap: 8px;
  font-size: 16px;
  border-color: #e6e6e6;
  color: #121535;
  border-left: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
}
.header-buttom
  .header-bottom-inner
  .header-bottom-category
  .category-button
  .icon {
  display: flex;
  cursor: pointer;
  color: #121535;
  font-weight: 500;
  font-size: 24px;
}
.header-buttom
  .header-bottom-inner
  .header-bottom-category
  .category-button
  .arrow-icon {
  display: flex;
  align-items: center;
  font-size: 20px;
}

.header-buttom
  .header-bottom-inner
  .header-bottom-category
  .category-button:hover
  .arrow-icon {
  transform: translate(0, 0) rotate(180deg);
}
.header-buttom
  .header-bottom-inner
  .header-bottom-category
  .category-button
  .category-submenu {
  width: 300px;
  max-height: 400px;
  padding: 8px 0;
  position: absolute;
  transition: 0.2s linear;
  background-color: #fff;
  border-radius: 6px;
  top: 100%;
  left: 0;
  min-width: 190px;
  z-index: 99;
  /*margin-top: 16px; */
  margin-top: 16px;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 7px 21px -5px #0000001a, 0 4px 21px -4px #0000001a;
}
.header-buttom
  .header-bottom-inner
  .header-bottom-category
  .category-button:hover
  .category-submenu {
  margin-top: 0;
  opacity: 1;
  visibility: visible;
}

.category-submenu {
  display: block;
  position: relative;
}
.category-submenu-item {
  padding: 0 8px;
  color: grey;
}
.header-buttom
  .header-bottom-inner
  .header-bottom-category
  .category-button
  .category-submenu
  .category-submenu-item
  > a {
  /* color: grey; */
  gap: 8px;
  align-items: center;
  display: flex;
  padding-block: 12px;
  text-decoration: none;
  transition: all 0.2s linear;
}
.header-buttom
  .header-bottom-inner
  .header-bottom-category
  .category-button
  .category-submenu
  .category-submenu-item
  > a
  > span:nth-child(2) {
  width: 90%;
  text-align: start;
}
.header-buttom
  .header-bottom-inner
  .header-bottom-category
  .category-button
  .category-submenu
  .category-submenu-item:hover {
  background-color: #f1f1f1;
  color: #1a1a1a;
  font-weight: 600;
}
.category-submenu-item-inner {
  /* height: 100%; */
  /* height: 500px; */
  transition: all 0.2s linear;
  background: #fff;
  border-radius: 6px;
  top: 0;
  left: 100%;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  visibility: hidden;
  width: 300px;
  padding-block: 16px;
  z-index: 99999999999;
  box-shadow: 0 7px 21px -5px #0000001a, 0 4px 21px -4px #0000001a;
}
.category-submenu-item:hover .category-submenu-item-inner {
  visibility: visible;
  opacity: 1;
}
.category-submenu-item-inner-title {
  font-size: 18px;
  padding: 0 16px;
  color: #121535;
  font-family: Quicksand, sans-serif;
  font-weight: 700;
  line-height: 1.2;
  margin: 0 0 16px;
}
.category-submenu-item-inner-item {
  max-height: 300px;
  overflow-y: auto;
}
.category-submenu-item-inner-item > li > a {
  display: inline-block;
  display: block;
  padding: 10px 16px;
  padding-left: 32px;
  position: relative;
  transition: all 0.2s linear;
  text-align: start;
}
.category-submenu-item-inner-item > li {
  color: grey;
  font-weight: 400;
  transition: all 0.2s linear;
}
.category-submenu-item-inner-item > li:hover {
  background-color: #f1f1f1;
  color: #333;
  font-weight: 600;
}

.category-submenu-item-inner-item > li > a::before {
  background: #b3b3b3;
  border-radius: 80%;
  content: "";
  height: 8px;
  top: 50%;
  left: 16px;
  position: absolute;
  transform: translateY(-50%);
  transition: 0.2s linear;
  width: 8px;
  transition: all 0.2s linear;
}
.category-submenu-item-inner-item > li:hover a::before {
  background: #333;
}
.header-buttom .header-bottom-inner .header-bottom-menu {
  display: block;
  flex-grow: 1;
}
.header-buttom .header-bottom-inner .header-bottom-menu .menu-inner {
  display: flex;
  gap: 26px;
  align-items: center;
}
.header-buttom .header-bottom-inner .header-bottom-menu .menu-inner {
  list-style: none;
}
.header-buttom .header-bottom-inner .header-bottom-menu .menu-inner .menu-item {
  display: block;
  position: relative;
}
.header-buttom
  .header-bottom-inner
  .header-bottom-menu
  .menu-inner
  .menu-item
  > a {
  display: inline-block;
  color: #999;
  font-weight: 500;
  padding: 16px 0;
  padding-right: 16px;
  width: 100%;
  font-size: 14px;
}
.header-buttom
  .header-bottom-inner
  .header-bottom-menu
  .menu-inner
  .menu-item:hover
  a {
  color: #299e60;
}

.header-buttom
  .header-bottom-inner
  .header-bottom-menu
  .menu-inner
  .menu-item:not(:last-child)
  > a::before {
  color: #12153566;
  position: absolute;
  content: "\f107";
  font-family: "Font Awesome 6 free";
  font-weight: 900;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  transition: 0.2s linear;
}

.header-buttom .header-bottom-inner .header-buttom-call {
  display: flex;
  position: relative;
  background-color: #299e60;
  padding: 12px;
  transition: 0.2s linear;
}
.header-buttom .header-bottom-inner .header-buttom-call:hover {
  background-color: hsl(148, 59%, 31.2%);
}
.header-buttom .header-bottom-inner .header-buttom-call > a {
  display: flex;
  gap: 8px;
  font-size: 18px;
  align-items: center;
  color: rgb(255, 255, 255);
  height: 100%;
}

.header-buttom .header-bottom-inner .header-buttom-call > a > i {
  font-size: 32px;
}
.header-buttom
  .header-bottom-inner
  .header-bottom-menu
  .menu-inner
  .menu-item:hover
  a::before {
  color: #299e60;
  transform: translateY(-50%) rotate(180deg);
}

.header-buttom
  .header-bottom-inner
  .header-bottom-menu
  .menu-inner
  .menu-item
  .sum-menu {
  display: block;
  max-height: 400px;
  overflow-y: auto;
  position: absolute;
  background-color: #fff;
  border-radius: 6px;
  top: 100%;
  left: 0;
  min-width: 190px;
  overflow: hidden;
  overflow-y: hidden;
  padding: 8px;
  width: max-content;
  z-index: 99;
  margin-top: 16px;
  opacity: 0;
  visibility: hidden;
  color: #000;
  transition: 0.2s linear;
  box-shadow: 0 7px 21px -5px #0000001a, 0 4px 21px -4px #0000001a;
}
.header-buttom
  .header-bottom-inner
  .header-bottom-menu
  .menu-inner
  .menu-item:hover
  .sum-menu {
  margin-top: 0;
  opacity: 1;
  visibility: visible;
}
.header-buttom
  .header-bottom-inner
  .header-bottom-menu
  .menu-inner
  .menu-item
  .sum-menu
  .sum-menu-item {
  border-radius: 4px;
  display: block;
  position: relative;
  transition: 0.2s linear;
}
.header-buttom
  .header-bottom-inner
  .header-bottom-menu
  .menu-inner
  .menu-item
  .sum-menu
  .sum-menu-item
  > a {
  display: inline-block;
  border-radius: inherit;
  color: #999;
  /* color: var(--gray-400); */
  font-weight: 500;
  padding-right: 16px;
  padding: 8px 14px;
  width: 100%;
  transition: 0.2s linear;
}
.header-buttom
  .header-bottom-inner
  .header-bottom-menu
  .menu-inner
  .menu-item
  .sum-menu
  .sum-menu-item
  > a:hover {
  color: #299e60;
  background-color: #e6e6e6;
}

.pages-new {
  border-radius: 4px;
  font-size: 14px;
  background-color: #ff9f29;
  padding: 2px 8px;
  animation: notification 0.8s infinite;
  top: -18px;
  left: 0;
  margin-bottom: 6px;
  position: absolute;

  color: rgb(255, 255, 255);
}

.pages-new::before {
  background-color: inherit;
  clip-path: polygon(0 0, 100% 0, 0 100%, 0 100%);
  content: "";
  height: 6px;
  position: absolute;
  top: calc(100% - 1px);
  width: 11px;
}
.vendors-new {
  background-color: #3c23b5;
}
@keyframes notification {
  0%,
  to {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
}

.header-right {
  align-items: center;
  display: none;
}
.header-right-icon {
  display: block;
  margin-right: 16px;
}
.header-right-icon {
  align-items: center;
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}
.header-right-menuicon {
  font-size: 36px;
  cursor: pointer;
  color: #333;
  display: flex;
  align-items: center;
}
.header-right-icon-inner {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
.header-right-icon-inner button {
  cursor: pointer;
  gap: 4px;
  align-items: center;
  display: flex;
}
.header-right-icon-inner button > span {
  font-size: 24px;
  color: #4d4d4d;
  position: relative;
  display: flex;
}
.header-right-icon-inner > a {
  align-items: center;
  display: flex;
  gap: 4px;
  transition: 0.2s linear;
  position: relative;
}

.header-right-icon-inner > a > span {
  font-size: 24px;
  color: #4d4d4d;
  margin-top: 6px;
  margin-right: 6;
  position: relative;
  display: flex;
}
.header-right-icon-inner > a::after {
  position: absolute;
  content: "2";
  top: 0;
  right: 0;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 12px;
  background-color: #299e60;
}
/* header bottom end */
/* header end */

/* start footer css  */

/* start footer top css  */
footer {
  display: block;
  padding: 120px 0;

  position: relative;
}
footer .footer-bg {
  position: absolute;

  z-index: -1;
}
footer .footer-inner {
  display: flex;
  /* margin: 0 -15px; */
  flex-wrap: wrap;
}
footer .footer-inner .footer-info {
  display: block;
  width: 30%;
  padding-right: 20px;
}
footer .footer-inner .footer-info .footer-logo {
  display: block;
  margin-bottom: 20px;
}
footer .footer-inner .footer-info .footer-logo > a > img {
  height: 100%;
  max-height: 64px;
  max-width: 190px;
  width: 100%;
}
footer .footer-inner .footer-info .footer-text {
  display: block;
  font-size: 16px;
  color: #828282;
  margin-bottom: 24px;
}
footer .footer-inner .footer-info ul li {
  list-style: none;
  display: flex;
  padding: 7px 0;
  justify-content: space-between;
}

footer .footer-inner .footer-info ul li .footer-icon {
  display: flex;
  background-color: #299e60;
  color: #ffff;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  /* align-self: center; */
}
footer .footer-inner .footer-info ul li .footer-icon span {
  display: flex;
  margin: 0 auto;
  align-items: center;
}
footer .footer-inner .footer-info ul li .footer-li-text {
  display: block;
  align-content: center;
  width: 85%;
  color: #1a1a11;
}
footer .footer-inner .footer-info ul li .footer-li-text a {
  text-decoration: none;
  color: #000;
  transition: all 0.2s linear;
}
footer .footer-inner .footer-info ul li .footer-li-text a:hover {
  color: #299e60;
}
footer .footer-inner .footer-info ul li .footer-li-text span {
  display: inline-block;
  padding: 0 10px;
  color: #299e60;
}
footer .footer-inner .footer-item {
  display: block;
  width: 17.5%;
  padding-right: 15px;
}
footer .footer-inner .footer-item .footer-item-title {
  display: block;
  font-family: "Quicksand", sans-serif;
  color: #121535;
  font-size: 21px;
  margin-bottom: 6px;
  font-weight: 700;
  text-transform: capitalize;
}
footer .footer-inner .footer-item li {
  display: block;
  padding: 8px 0;
}
footer .footer-inner .footer-item li a {
  color: #666;
  transition: all 0.2s linear;
}
footer .footer-inner .footer-item li a:hover {
  color: #299e60;
}
footer .footer-inner .footer-social {
  display: block;
  width: 25%;
  margin: 20px 0;
}
footer .footer-inner .footer-social .footer-item-title {
  display: block;
  font-family: "Quicksand", sans-serif;
  color: #121535;
  font-size: 21px;
  font-weight: 700;
  text-transform: capitalize;
  padding: 10px 0;
}
footer .footer-inner .footer-social > li > span {
  display: inline-block;
  margin-bottom: 20px;
  color: #828282;
}
footer .footer-inner .footer-social .img-flex {
  display: flex;
  flex-wrap: wrap;
  margin: 16px auto 32px;
}
footer .footer-inner .footer-social .img-flex div {
  padding-right: 5px;
}
footer .footer-inner .footer-social .footer-icon {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
footer .footer-inner .footer-social .footer-icon > div > a {
  display: block;
  background-color: hsl(148, 59%, 87.8%);
  color: #299e60;
  width: 50px;
  height: 50px;
  text-align: center;
  border: none;
  border-radius: 50%;
  align-content: center;
  margin: 0 5px;
  font-size: 25px;
}
footer .footer-inner .footer-social .footer-icon > div > a > span {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footer-inner .footer-social .footer-icon > div > a:hover {
  background-color: #299e60;
  color: #ffff;
}
/* end footer top css  */
/* start footer bottom css  */

.footer-bottom {
  background-color: #f3faf2;
}
.footer-bottom .footer-bottom-inner {
  display: flex;
  padding: 15px 0;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.footer-bottom .footer-bottom-inner .footer-bottom-end .payment-method {
  width: auto;
  max-width: 100%;
}
.footer-bottom .footer-bottom-inner p {
  display: block;
  width: 50%;
  color: #828282;
  padding-left: 5px;
}
.footer-bottom .footer-bottom-inner .footer-bottom-end {
  display: flex;
  width: 50%;

  padding-right: 5px;
}
.footer-bottom .footer-bottom-inner .footer-bottom-end p {
  display: inline-block;
  color: #121535;
  align-self: center;
  text-align: end;
}
/* end footer bottom css  */

/* Banner start  */
.banner {
  display: block;
  margin-top: 32px;
}
.banner .banner-inner {
  display: block;
  position: relative;
  background-color: #d3ebc0;
  background-image: url(../images/banner-bg.webp);
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-mask-image: url(../images/banner-bg2.f659103e34637fa66275.webp);
  mask-image: url(../images/banner-bg2.f659103e34637fa66275.webp);
  border-radius: 24px;
  overflow: visible;
  -webkit-mask-position: top;
  mask-position: top;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  padding-bottom: clamp(32px, -141.744px + 22.623vw, 220px);
  padding-top: clamp(32px, -30.848px + 8.183vw, 100px);
  padding-right: clamp(16px, -82.064px + 9.885vw, 76px);
  padding-left: clamp(16px, -189.92px + 20.758vw, 142px);
  
}
/* .banner-inner > img {
} */

.banner .banner-inner .scroll-down {
  height: 74px;
  margin-bottom: 16px;
  width: 74px;
  background-color: #299e60;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  color: rgb(255, 255, 255);
  text-align: center;
  border-width: 5px;
  transform: translateX(-50%);
  position: absolute;
  bottom: 0%;
  left: 50%;
  z-index: 2;
  border: 5px solid #fff;
}
.banner .banner-inner .scroll-down::before {
  animation: upDown 2s linear infinite;
  border: 2px dashed #fff6;
  content: "";
  height: 32px;
  position: absolute;
  top: 8px;
  width: 0px;
}
.banner .banner-inner .scroll-down > span {
  animation: upDown 2s linear infinite;
  font-size: 28px;
  margin-top: 16px;
  display: inline-block;
}
@keyframes upDown {
  0% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(0);
  }
  to {
    transform: translateY(10px);
  }
}
.banner .banner-inner > .banner-list {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.banner .banner-inner > .banner-list .banner-item__content {
  max-width: 750px;
  display: block;
}
.banner .banner-inner > .banner-list .banner-item__content .banner-item__title {
  display: block;
  font-size: 56px;
  font-weight: 700;
  margin-bottom: clamp(16px, -37.552px + 6.973vw, 60px);
  color: #121535;
  font-family: "Quicksand", sans-serif;
}
.banner .banner-inner > .banner-list .banner-item__content > a {
  gap: 8px;
  background-color: #299e60;
  font-weight: 500;
  line-height: 1;
  padding: 10px 20px;
  position: relative;
  z-index: 1;
  border-radius: 800px;
  align-items: center;
  display: inline-flex;
  color: #fff;
  font-size: 14px;
  border: 1px solid #0000;
}
.banner .banner-inner > .banner-list .banner-item__content > a .Banner-icon {
  font-size: 20px;
}
/* Banner end */

/* feature start */
.feature {
  display: block;
  margin-top: 32px;
}
.feature .feature-inner {
  display: block;
  position: relative;
}
.feature .feature-inner .feature-inner-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.feature .feature-inner .feature-inner-item .feature-item {
  display: block;
  width: 16%;
  text-align: center;
}
.feature .feature-inner .feature-inner-item .feature-item .feature-item__thumb {
  background-color: #e8f9e9;
  aspect-ratio: 1;
  border-radius: 50%;
  margin: 0 auto;
  max-height: 153px;
  max-width: 153px;
}
.feature
  .feature-inner
  .feature-inner-item
  .feature-item
  .feature-item__thumb
  > a {
  align-items: center;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  transition: all 0.2s linear;
}
.feature
  .feature-inner
  .feature-inner-item
  .feature-item
  .feature-item__thumb
  > a
  > img {
  max-width: 100%;
  width: auto;
  transition: all 0.2s linear;
}
.feature
  .feature-inner
  .feature-inner-item
  .feature-item
  .feature-item__content {
  margin-top: 16px;
}
.feature
  .feature-inner
  .feature-inner-item
  .feature-item
  .feature-item__content
  > h6 {
  font-size: 18px;
  margin-bottom: 8px;
  font-family: Quicksand, sans-serif;
}
.feature
  .feature-inner
  .feature-inner-item
  .feature-item
  .feature-item__content
  > h6
  > a {
  font-family: Quicksand, sans-serif;
  transition: all 0.2s linear;
}
.feature
  .feature-inner
  .feature-inner-item
  .feature-item
  .feature-item__content
  > span {
  font-size: 14px;
  color: #999;
  display: inline-block;
}
.feature
  .feature-inner
  .feature-inner-item
  .feature-item
  .feature-item__thumb
  :hover
  img {
  transform: scale(1.2);
}
.feature
  .feature-inner
  .feature-inner-item
  .feature-item
  .feature-item__content
  > h6
  > a:hover {
  color: #299e60;
}
/* feature end */

/* Promotional start */
.promotional-banner {
  display: block;
  position: relative;
  z-index: 0;
  padding-top: 80px;
}
.promotional-banner .promotional-inner {
  display: flex;
  flex-wrap: wrap;
  margin: -24px -12px 0 -12px;
}
.promotional-banner .promotional-inner .promotional-item {
  flex: 0 0 auto;
  width: 25%;
  max-width: 100%;
  margin-top: 24px;
  padding: 0 12px;
}
.promotional-banner
  .promotional-inner
  .promotional-item
  .promotional-item-inner {
    padding: clamp(32px, -31.296px + 8.241vw, 84px) 24px;
    border-radius: 24px;
  z-index: 1;
  position: relative;
}
.promotional-banner
  .promotional-inner
  .promotional-item
  .promotional-item-inner
  .promotional-item-img {
  position: absolute;
  height: 100%;
  max-width: 100%;
  width: 100%;
  z-index: -1;
  object-fit: cover;
  top: 0;
  left: 0;
  border-radius: 24px;
}
.promotional-banner
  .promotional-inner
  .promotional-item
  .promotional-item-inner
  .promotional-banner-item__content {
  max-width: 200px;
}
.promotional-banner
  .promotional-inner
  .promotional-item
  .promotional-item-inner
  .promotional-banner-item__content
  .promotional-banner-item__title {
  font-size: 24px;
  font-family: Quicksand, sans-serif;
  margin-bottom: 16px;
}
.promotional-banner
  .promotional-inner
  .promotional-item
  .promotional-item-inner
  .promotional-banner-item__content
  .promotional-a {
  gap: 8px;
  margin-top: 24px;
  font-size: 14px;
  padding: 10px 20px;
  background-color: #299e60;
  border-color: #299e60;
  border: 1px solid #0000;
  font-weight: 500;
  position: relative;
  color: rgb(255, 255, 255);
  border-radius: 20px;
  display: inline-flex;
}
.promotional-icon {
  display: flex;
  font-size: 20px;
}
.promotional-a:hover {
  background-color: hsl(148, 59%, 31.2%);
  border-color: hsl(148, 59%, 31.2%);
}
/* Promotional end */

/* FlashSales start */
.flash-sales {
  display: block;
  clear: both;
  padding-top: 80px;
}
.flash-sales .section-heading {
  display: block;
  margin-bottom: 40px;
}
.flash-sales .section-heading .section-heading-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}
.flash-sales
  .section-heading
  .section-heading-inner
  .section-heading-inner-item-left {
  margin-bottom: 0;
  font-size: clamp(20px, 1.32px + 0.722vw, 36px);
  font-weight: 700;
  line-height: 1.2;
  font-family: Quicksand, sans-serif;
  color: #121535;
}
.flash-sales
  .section-heading
  .section-heading-inner
  .section-heading-inner-item-right {
  margin-right: 124px;
  gap: 16px;
  display: flex;
  align-items: center;
}
.flash-sales
  .section-heading
  .section-heading-inner
  .section-heading-inner-item-right
  .section-heading-link {
  font-size: 14px;
  color: #4d4d4d;
  font-weight: 500;
  display: inline-block;
}
.flash-sales .flash-sales-slider {
  display: flex;

  gap: 20px;
}

.flash-sales .flash-sales-slider .flash-sales-slider-item {
  display: flex;
  /* width: 50%; */
  justify-content: space-between;
  padding: 40px 32px;
  gap: 8px;
  border-radius: 16px;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.flash-sales .flash-sales-slider .flash-sales-slider-item .flash-sales-item-bg {
  display: block;
  position: absolute;
  object-fit: cover;
  width: 100%;
  max-width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
.flash-sales
  .flash-sales-slider
  .flash-sales-slider-item
  .flash-sales-slider-item-thumb {
  display: block;
}
.flash-sales
  .flash-sales-slider
  .flash-sales-slider-item
  .flash-sales-slider-item-thumb
  > img {
  display: block;
  max-width: 100%;
}

.flash-sales
  .flash-sales-slider
  .flash-sales-slider-item
  .flash-sales-slider-item-content {
  display: block;
  width: 50%;
}
.flash-sales
  .flash-sales-slider
  .flash-sales-slider-item
  .flash-sales-slider-item-content
  .flash-sales-slider-item-content-title {
  font-size: 32px;
  margin-bottom: 20px;
  color: #121535;
  font-family: Quicksand, sans-serif;
  font-weight: 700;
  line-height: 1.2;
  margin: 0 0 16px;
}

.flash-sales
  .flash-sales-slider
  .flash-sales-slider-item
  .flash-sales-slider-item-content
  .flash-sales-slider-btn {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  margin-top: 24px;
  background-color: #299e60;
  font-size: 14px;
  padding: 10px 20px;
  /* border: 1px solid #0000; */
  border-radius: 20px;
  color: #fff;
  font-family: Inter, sans-serif;
  font-weight: 500;
  line-height: 1;
  position: relative;
  z-index: 1;
}
.flash-sales
  .flash-sales-slider
  .flash-sales-slider-item
  .flash-sales-slider-item-content
  .flash-sales-slider-btn:hover {
  background-color: hsl(148, 59%, 31.2%);
}
.flash-sales
  .flash-sales-slider
  .flash-sales-slider-item
  .flash-sales-slider-item-content
  .flash-sales-slider-btn
  .flash-sales-slider-btn-inner {
  display: flex;
  font-size: 20px;
}
.flash-sales
  .flash-sales-slider
  .flash-sales-slider-item
  .flash-sales-slider-item-content
  .flash-sales-slider-countdown-list {
  align-items: center;
  display: flex;
  margin-left: auto;
  gap: 6px;
  flex-wrap: wrap;
  list-style: none;
}
.flash-sales
  .flash-sales-slider
  .flash-sales-slider-item
  .flash-sales-slider-item-content
  .flash-sales-slider-countdown-list
  .flash-sales-slider-countdown-list-inner {
  gap: 4px;
  font-size: 14px;
  color: #121535;
  align-items: center;
  display: flex;
  background-color: #fff;
  border-radius: 8px;
  padding: clamp(6px, -35.968px + 3vw, 12px) clamp(8px, -47.968px + 4vw, 16px);

  font-weight: 500;
  position: relative;
}
/* FlashSales end */

/* ProductList  start */

.product {
  display: block;
  clear: both;
  margin-top: 24px;
}
.product .product-inner {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * 12px);
  margin-right: calc(-0.5 * 12px);
  margin-left: calc(-0.5 * 12px);
  
}
.product .product-inner .product-inner-item {
  display: block;
  width: 25%;
  padding-right: calc(12px * 0.5);
  padding-left: calc(12px * 0.5);
  margin-top: 12px;
}
.product .product-inner .product-inner-item .product-card {
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #e6e6e6;
  border-radius: 16px;
  padding-block: 16px;
  transition: 0.2s linear;
  position: relative;
  padding: 16px 8px;
}
.product .product-inner .product-inner-item .product-card:hover {
  border-color: #299e60;
}
.product
  .product-inner
  .product-inner-item
  .product-card:hover
  .product-card-img
  > img {
  transform: scale(1.2);
}
.product .product-inner .product-inner-item .product-card .product-card-add {
  align-items: center;
  display: flex;
  top: 0;
  right: 0;
  padding: 11px 24px;
  margin-top: 16px;
  margin-right: 16px;
  font-weight: 500;
  position: absolute;
  border-radius: 20px;
  font-size: 12px;
  z-index: 3;
  padding: 9px 12px;
  gap: 8px;
  background-color: hsl(148, 59%, 93.9%);
  color: #299e60;
}

.product
  .product-inner
  .product-inner-item
  .product-card
  .product-card-add:hover {
  background-color: #299e60;
  color: white;
}
.product .product-inner .product-inner-item .product-card .product-card-img {
  height: 232px;
  transition: 0s;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}
.product
  .product-inner
  .product-inner-item
  .product-card
  .product-card-img
  > img {
  max-width: 160px;
  transition: all 0.2s linear;
  width: 100%;
  height: auto;
}
.product
  .product-inner
  .product-inner-item
  .product-card
  .product-card-content {
  display: block;
  margin-top: 12px;
}
.product
  .product-inner
  .product-inner-item
  .product-card
  .product-card-content
  .product-card-price {
  display: block;
  margin-bottom: 16px;
}
.product
  .product-inner
  .product-inner-item
  .product-card
  .product-card-content
  .product-card-price
  .product-card-price-dec {
  display: inline-block;
  font-size: 16px;
  color: #999;
  text-decoration: line-through;
  font-weight: 600;
}
.product
  .product-inner
  .product-inner-item
  .product-card
  .product-card-content
  .product-card-price
  .product-card-price-ong {
  display: inline-block;
  font-size: 16px;
  color: #121535;
  font-weight: 600;
}
.product
  .product-inner
  .product-inner-item
  .product-card
  .product-card-content
  .product-card-price
  .product-card-price-ong
  .product-card-price-oty {
  display: inline-block;
  font-weight: 400;
  color: grey;
}
.product
  .product-inner
  .product-inner-item
  .product-card
  .product-card-content
  .product-card-rating {
  align-items: center;
  display: flex;
  gap: 6px;
}
.product
  .product-inner
  .product-inner-item
  .product-card
  .product-card-content
  .product-card-rating
  .product-card-rating-num {
  display: inline-block;
  font-size: 12px;
  color: #666;
  font-weight: 700;
}
.product
  .product-inner
  .product-inner-item
  .product-card
  .product-card-content
  .product-card-rating
  .product-card-rating-star {
  display: flex;
  font-weight: 700;
  color: #ff9f29;
}
.product
  .product-inner
  .product-inner-item
  .product-card
  .product-card-content
  .product-card-rating
  .product-card-rating-totle {
  display: inline-block;
  font-weight: 700;
  color: #666;
  font-size: 12px;
}
.product
  .product-inner
  .product-inner-item
  .product-card
  .product-card-content
  .product-card-title {
  font-size: 18px;
  margin-bottom: 8px;
  margin-top: 12px;
  font-weight: 600;
  color: #121535;
  font-family: Quicksand, sans-serif;
  margin: 0 0 16px;
  transition: all 0.2s linear;
}
.product
  .product-inner
  .product-inner-item
  .product-card
  .product-card-content
  .product-card-title
  .product-card-title-inner {
  font-family: Quicksand, sans-serif;
}
.product
  .product-inner
  .product-inner-item
  .product-card
  .product-card-content
  .product-card-title:hover {
  color: #299e60;
}
.product
  .product-inner
  .product-inner-item
  .product-card
  .product-card-content
  .product-card-Lucky {
  align-items: center;
  display: flex;
  gap: 4px;
}
.product
  .product-inner
  .product-inner-item
  .product-card
  .product-card-content
  .product-card-Lucky
  .product-card-storefront {
  display: flex;
  font-size: 16px;
  color: #299e60;
}
.product
  .product-inner
  .product-inner-item
  .product-card
  .product-card-content
  .product-card-Lucky
  .product-card-Lucky-text {
  display: inline-block;
  font-size: 12px;
  color: grey;
}
.product
  .product-inner
  .product-inner-item
  .product-card
  .product-card-content
  .product-card-progress {
  display: block;
  margin-top: 12px;
}
.product
  .product-inner
  .product-inner-item
  .product-card
  .product-card-content
  .product-card-progress
  .product-card-Sold {
  display: inline-block;
  font-size: 12px;
  color: #1a1a1a;
  margin-top: 8px;
  font-weight: 500;
}
.product
  .product-inner
  .product-inner-item
  .product-card
  .product-card-content
  .product-card-progress
  .product-card-progressbar {
  height: 4px;
  background-color: #f1f1f1;
  border-radius: 20px;
  background-color: #f1f1f1;
}

.product
  .product-inner
  .product-inner-item
  .product-card
  .product-card-content
  .product-card-progress
  .product-card-progressbar
  .product-card-progressbar-line {
  display: flex;
  height: 4px;
  transition: none;
  flex-direction: column;
  justify-content: center;
  overflow: visible;
  /* color: var(--bs-progress-bar-color); */
  text-align: center;
  white-space: nowrap;
  background-color: #299e60;
  border-radius: 20px;
}

/* ProductList  end */

/* offer start */

.offer {
  display: block;
  clear: both;
  padding-top: 80px;
  padding-bottom : 80px;
}
.offer .offer-inner {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * 24px);
  margin-right: calc(-0.5 * 24px);
  margin-left: calc(-0.5 * 24px);
}
.offer .offer-inner .offer-inner-item {
  display: block;
  width: 50%;
  max-width: 100%;
  padding-right: calc(24px * 0.5);
  padding-left: calc(24px * 0.5);
  margin-top: 24px;
}
.offer .offer-inner .offer-inner-item .offer-inner-item-inner {
  gap: 16px;
  border-radius: 16px;
  background-color: #299e60;
  align-items: center;
  display: flex;
  padding: 16px;
  z-index: 1;
  flex-wrap: wrap;
  position: relative;
  overflow: hidden;
}
.offer
  .offer-inner
  .offer-inner-item
  .offer-inner-item-inner
  .offer-inner-item-img {
  top: 0;
  left: 0;
  opacity: 0.06;
  z-index: -1;
  height: 100%;
  width: 100%;
  position: absolute;
  max-width: 100%;
}
.offer
  .offer-inner
  .offer-inner-item
  .offer-inner-item-inner
  .offer-inner-item-thumb {
  display: block;
}
.offer
  .offer-inner
  .offer-inner-item
  .offer-inner-item-inner
  .offer-inner-item-thumb
  > img {
  max-width: 244px;
  width: 100%;
  height: auto;
}
.offer
  .offer-inner
  .offer-inner-item
  .offer-inner-item-inner
  .offer-inner-item-right {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}
.offer
  .offer-inner
  .offer-inner-item
  .offer-inner-item-inner
  .offer-inner-item-right
  .offer-inner-item-logo {
  display: flex;
  height: 80px;
  width: 80px;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  opacity: 1;
}
.offer
  .offer-inner
  .offer-inner-item
  .offer-inner-item-inner
  .offer-inner-item-right
  .offer-inner-item-logo
  > img {
  height: auto;
  max-width: 100%;
  width: auto;
}
.offer
  .offer-inner
  .offer-inner-item
  .offer-inner-item-inner
  .offer-inner-item-right
  .offer-inner-item-text {
  margin-bottom: 8px;
  color: white;
  font-size: clamp(24px, 8.9104px + 1.444vw, 44.8px);
  font-family: Quicksand, sans-serif;
  font-weight: 700;
}
.offer
  .offer-inner
  .offer-inner-item
  .offer-inner-item-inner
  .offer-inner-item-right
  .offer-inner-item-Delivery {
  gap: 8px;
  align-items: center;
  display: flex;
}
.offer
  .offer-inner
  .offer-inner-item
  .offer-inner-item-inner
  .offer-inner-item-right
  .offer-inner-item-Delivery
  .offer-inner-item-titme {
  display: inline-block;
  font-size: 14px;
  color: white;
}

.offer
  .offer-inner
  .offer-inner-item
  .offer-inner-item-inner
  .offer-inner-item-right
  .offer-inner-item-Delivery
  .offer-inner-item-date {
  display: inline-block;
  font-size: 14px;
  color: #fa6800;
}
.offer
  .offer-inner
  .offer-inner-item
  .offer-inner-item-inner
  .offer-inner-item-right
  .offer-inner-item-btn {
  display: inline-flex;
  background-color: white;
  border-radius: 20px;
  gap: 8px;
  color: #121535;
  margin-top: 16px;
  font-size: 14px;
  padding: 10px 20px;
  position: relative;
  z-index: 1;
  font-weight: 500;
  align-items: center;
}
.offer
  .offer-inner
  .offer-inner-item
  .offer-inner-item-inner
  .offer-inner-item-right
  .offer-inner-item-btn:hover {
  background-color: hsl(148, 59%, 31.2%);
  color: white;
}
.offer
  .offer-inner
  .offer-inner-item
  .offer-inner-item-inner
  .offer-inner-item-right
  .offer-inner-item-btn
  .offer-inner-item-btn-icon {
  display: flex;
  color: inherit;
  font-weight: 500;
  font-size: 20px;
}

/* offer end */

/* start media  */

/* start media 1199px  */
@media (max-width: 1199px) {
  .header-middle {
    padding: 16px 10px;
  }
  .header-middle
    .header-middle-inner
    .header-middle-second
    .second-item-inner
    .search
    .text {
    width: 200px;
  }
  .header-top .header-top-inner .header-top-icon {
    margin-right: 10px;
    padding: 10px 10px 10px 0;
  }
  .header-middle
    .header-middle-inner
    .header-middle-second
    .second-item-inner
    .form-flex
    .select-categories {
    padding-left: 0;
  }
  .location-outer .location-container .location-button {
    padding: 8px;
  }
  .header-top .header-top-inner .header-top-item > a {
    font-size: 12px;
  }
  footer .footer-inner .footer-info {
    width: 35%;
    margin: 20px 0;
  }
  footer .footer-inner .footer-item {
    width: 21.65%;
    padding-right: 10px;
    margin: 20px 0;
  }
  footer .footer-inner .footer-social {
    width: 30%;
  }
  .header-buttom
    .header-bottom-inner
    .header-bottom-menu
    .menu-inner
    .menu-item
    > a {
    font-size: 14px;
  }
  .banner
    .banner-inner
    > .banner-list
    .banner-item__content
    .banner-item__title {
    font-size: 46px;
    /* width: 50%;1 */
  }
  .promotional-banner .promotional-inner .promotional-item {
    font-size: 46px;
    width: 50%;
  }
  .promotional-banner
    .promotional-inner
    .promotional-item
    .promotional-item-inner {
    /* padding: 20px 24px; */
    border-radius: 24px;
    z-index: 1;
    position: relative;
  }

  /* flash-sales start  */
  .flash-sales .section-heading {
    margin-bottom: 24px;
  }
  /* flash-sales end  */

  /* product start  */

  .product
    .product-inner
    .product-inner-item
    .product-card
    .product-card-img
    > img {
    max-width: 120px;
  }
  .product
    .product-inner
    .product-inner-item
    .product-card
    .product-card-content
    .product-card-price
    .product-card-price-dec,
  .product
    .product-inner
    .product-inner-item
    .product-card
    .product-card-content
    .product-card-price
    .product-card-price-ong,
  .product
    .product-inner
    .product-inner-item
    .product-card
    .product-card-content
    .product-card-price
    .product-card-price-ong
    .product-card-price-oty {
    font-size: 12px;
  }
  .product
    .product-inner
    .product-inner-item
    .product-card
    .product-card-content
    .product-card-rating
    .product-card-rating-num,
  .product
    .product-inner
    .product-inner-item
    .product-card
    .product-card-content
    .product-card-rating
    .product-card-rating-totle,
  .product
    .product-inner
    .product-inner-item
    .product-card
    .product-card-content
    .product-card-Lucky
    .product-card-Lucky-text,
  .product
    .product-inner
    .product-inner-item
    .product-card
    .product-card-content
    .product-card-progress
    .product-card-Sold {
    font-size: 0.6280px !important;
  }
  .product
    .product-inner
    .product-inner-item
    .product-card
    .product-card-content
    .product-card-title {
    font-size: 14px;
  }
  /* product end */

  /* offer start */
  .offer
    .offer-inner
    .offer-inner-item
    .offer-inner-item-inner
    .offer-inner-item-thumb
    > img {
    max-width: 163px;
  }
  /* offer end */
}
/* end media 1199px  */

/* start media 991px  */
@media (max-width: 991px) {
  .header-middle {
    padding: 8px 0px;
  }
  .header-buttom
    .header-bottom-inner
    .header-bottom-category
    .category-button
    .category-submenu {
    display: none;
  }
  .header-middle .header-middle-inner .header-middle-third {
    display: none;
  }
  .header-middle
    .header-middle-inner
    .header-middle-second
    .second-item-inner
    .search {
    display: none;
  }
  .header-middle
    .header-middle-inner
    .header-middle-second
    .second-item-inner
    .form-flex {
    padding-right: 0px;
  }
  .header-middle
    .header-middle-inner
    .header-middle-second
    .second-item-inner
    .form-flex
    .select-categories {
    font-size: 12px;
    background-color: #fff;
    height: 36px;
    border: 1px solid transparent;
    border-radius: 50px;
    padding-left: 7px;
  }
  .location-outer
    .location-container
    .location-button
    .location-text
    span:last-child {
    font-size: 12px;
  }
  .location-outer .location-container .location-button {
    padding: 4px;
  }
  .header-top .header-top-inner .header-top-icon {
    margin-right: 10px;
    padding: 6px 10px 6px 0;
  }
  /* header-buttom start */
  .header-right {
    display: flex;
  }
  .header-buttom .header-bottom-inner .header-bottom-menu {
    display: none;
  }
  .header-buttom .header-bottom-inner .header-buttom-call {
    display: none;
  }
  .header-top .header-top-inner .header-top-item .menu a::after {
    right: 2px;
    padding: 0 5px;
  }
  .header-top .header-top-inner .header-top-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  /* header-buttom end */
  footer .footer-inner .footer-info {
    width: 60%;
  }
  footer .footer-inner .footer-item {
    width: 30%;
  }
  footer .footer-inner .footer-social {
    width: 40%;
  }
  .banner
    .banner-inner
    > .banner-list
    .banner-item__content
    .banner-item__title {
    font-size: 24px;
  }
  .feature .feature-inner .feature-inner-item .feature-item {
    display: block;
    width: 20%;
    text-align: center;
  }
  .feature .feature-inner .feature-inner-item .feature-item:last-child {
    display: none;
  }

  /* flash sales start */
  .flash-sales .flash-sales-slider .flash-sales-slider-item {
    width: 100%;
  }
  .flash-sales .flash-sales-slider .flash-sales-slider-item:last-child {
    display: none;
  }

  /* flash sales end */
  /* product start  */
  .product .product-inner .product-inner-item {
    width: 33.33%;
  }
  /* product end  */
  /* offer start */
  .offer
    .offer-inner
    .offer-inner-item
    .offer-inner-item-inner
    .offer-inner-item-thumb
    > img {
    display: none;
  }
  .offer
    .offer-inner
    .offer-inner-item
    .offer-inner-item-inner
    .offer-inner-item-right {
    padding: 0;
  }
  /* offer end */
}
/* end media 991px  */

/* start media 767px  */
@media (max-width: 767px) {
  .header-top .header-top-inner .header-top-item .start {
    display: none;
  }
  /* header-buttom start*/
  .header-buttom .header-bottom-inner .header-bottom-category .category-button {
    font-size: 12px;
  }
  .header-top .header-top-inner .ready {
    display: none;
  }
  .header-top .header-top-inner .space-between1 {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
  }
  .banner .banner-inner .scroll-down {
    bottom: -12%;
  }
  /* header-buttom end*/
  footer .footer-inner .footer-info {
    width: 50%;
  }
  footer .footer-inner .footer-item {
    width: 30%;
  }
  footer .footer-inner .footer-social {
    width: 50%;
  }
  footer .footer-inner .footer-item .footer-item-title {
    font-size: 18px;
  }
  footer .footer-inner .footer-social .footer-item-title {
    font-size: 18px;
  }
  footer .footer-inner .footer-social .footer-icon div a {
    width: 35px;
    height: 35px;
    font-size: 20px;
  }
  .footer-bottom .footer-bottom-inner p {
    width: 100%;
  }

  .footer-bottom .footer-bottom-inner .footer-bottom-end {
    width: 100%;
    justify-content: start;
  }
  .footer-bottom .footer-bottom-inner .footer-bottom-end p {
    text-align: start;
    display: inline-block;
    width: 25%;
  }
  .footer-bottom .footer-bottom-inner .footer-bottom-end img {
    text-align: start;
  }
  .banner .banner-inner {
    background-image: none;
    -webkit-mask-image: none;
    mask-image: none;
  }
  .banner .banner-inner .scroll-down .scroll-down {
    bottom: -20%;
  }
  .feature .feature-inner .feature-inner-item .feature-item {
    display: block;
    width: 25%;
    text-align: center;
  }
  .feature .feature-inner .feature-inner-item .feature-item:nth-last-child(2) {
    display: none;
  }
}
/* end media 767px  */

/* start media 639px  */
@media (max-width: 639px) {
  .header-middle
    .header-middle-inner
    .header-middle-second
    .second-item-inner
    .form-flex {
    display: none;
  }

  footer .footer-inner .footer-info {
    width: 100%;
    margin: 15px 0;
  }
  footer .footer-inner .footer-item {
    width: 50%;
    margin: 15px 0;
  }
  footer .footer-inner .footer-social {
    width: 65%;
    margin: 15px 0;
  }
}
/* end media 639px  */
@media (max-width: 576px) {
  .header-buttom
    .header-bottom-inner
    .header-bottom-category
    .category-button
    .button-text {
    display: none;
  }
  .feature-item {
    display: block;
    width: 33.33%;
    text-align: center;
  }
  .feature .feature-inner .feature-inner-item .feature-item:nth-last-child(4) {
    display: none;
  }
  .banner .banner-inner > .banner-list {
    flex-direction: column;
  }

  /* .flash-sales start  */
  .flash-sales
    .flash-sales-slider
    .flash-sales-slider-item
    .flash-sales-slider-item-thumb
    > img {
    display: none;
  }
  .flash-sales .flash-sales-slider .flash-sales-slider-item {
    display: block;
  }
  .flash-sales
    .flash-sales-slider
    .flash-sales-slider-item
    .flash-sales-slider-item-content {
    width: 100%;
  }
  /* .flash-sales end */

  /* product start  */
  .product .product-inner .product-inner-item {
    width: 50%;
  }

  /* product end  */
  /* offer starat  */
  .offer .offer-inner .offer-inner-item {
    width: 100%;
  }
  .offer .offer-inner .offer-inner-item .offer-inner-item-inner {
    gap: 0;
  }

  /* offer end */
}
/* start media 479px  */
@media (max-width: 479px) {
  .header-middle-first {
    max-width: 148px;
  }
  svg {
    display: none;
  }
  .header-buttom
    .header-bottom-inner
    .header-bottom-category
    .category-button
    .icon {
    display: none;
  }
  .header-buttom
    .header-bottom-inner
    .header-bottom-category
    .category-button
    .icon
    .button-text {
    display: none;
  }
  .header-top .header-top-inner .menu > a {
    padding: 0 5px;
  }
  .banner
    .banner-inner
    > .banner-list
    .banner-item__content
    .banner-item__title {
    font-size: 26px;
    width: 100%;
  }
  footer .footer-inner .footer-social {
    width: 100%;
  }
  .promotional-banner .promotional-inner .promotional-item {
    width: 100%;
  }
  .feature .feature-inner .feature-inner-item .feature-item {
    display: block;
    width: 100%;
    text-align: center;
  }
  .feature .feature-inner .feature-inner-item .feature-item:nth-last-child(5) {
    display: none;
  }
  .feature .feature-inner .feature-inner-item .feature-item:nth-last-child(6) {
    display: none;
  }
}
/* end media 479px  */
/* end  media  */
